.token.punctuation,
.token.operator {
  color: rgba(0, 0, 0, 0.38);
}

.token.property {
  color: #1a1a1a;
}

.token.boolean {
  color: #ff8c00;
}

.token.null {
  color: #004ed0;
}

.token.number {
  color: #ee422e;
}

.token.string {
  color: #008000;
}
